XLSourcePopupWidget {
    /* WORKAROUND for windows, set it same as title bar color */
    /* macOS is ok but windows always show black background */
    background: @sourcePopupBackground@;
}
QWidget#content {
    background: white;
}
QLabel#hintLabel {
    font-size: @mediumFontSize@;
    color: #535353;
}
QListView#listView::item:selected {
    background: transparent;
}